.invoice-fixed-width {
  width: 900px !important;
  max-width: 900px !important;
  min-width: 900px !important;
}

@media print {
  .invoice-fixed-width {
    width: 900px !important;
    max-width: 900px !important;
    min-width: 900px !important;
  }
} 